<!DOCTYPE html>
<html>
  <head>
    <title>Tom's retail calculator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h1>Tom's retail calculator</h1>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Calculate">
    </form>
    {% if total %}
      <table>
        <tr><td>Total with discount</td> <td>{{ total.discounted|floatformat:2 }}</td></tr>
        <tr><td>Total with TAX</td><td>{{ total.tax|floatformat:2 }}</td></tr>
      </table>
    {% endif %}
    <footer>
      Created by <a href="https://github.com/artemiy312">Artemiy Rodionov</a>, source code: <a href="https://github.com/artemiy312/exness">https://github.com/artemiy312/exness</a>.
    </footer>
  </body>

</html>
